= form_tag '/login', :remote => true do
  = text_field_tag :email, nil, :autofocus => true, :placeholder => 'bob@gmail.com'
  = password_field_tag :password, nil, :placeholder => 'password'
  = submit_tag 'Login', :class => 'button tiny radius success'
