<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
     <ul id="navbuttons" class="button-group">
       <li><%= link_to('Home', root_path, :class => 'button tiny') %></li>
       <%= admin_links %>
       <%= customer_links %>
       <%= login_helper %>
      </ul>
    </div>
    <h2 class='subheader'>Virgin Airlines</h2>
  </div>
</div>
