<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
     <ul class="button-group">
       <li><%= link_to('Home', root_path, :class => 'button tiny') %></li>
       <li><%= link_to('Users', users_path, :class => 'button tiny') %></li>
       <li><%= link_to('Stocks', stocks_path, :class => 'button tiny') %></li>
       <li><%= login_nav %></li>
      </ul>
    </div>
    <h2 class='subheader'>tradr</h2>
  </div>
</div>
