<footer class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-6 columns">
        <h6 class='subheader'>&copy; Chyld Medford</h6>
      </div>
      <div class="large-6 columns">
      </div>
    </div>
  </div>
</footer>
