<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
     <ul class="button-group">
       <li><%= link_to('Home', root_path, :class => 'button tiny') %></li>
       <%== login_nav %>
      </ul>
    </div>
    <h2 class='subheader'>flirt</h2>
  </div>
</div>
