<form method='post' action='/planets'>
  Name:
  <input type='text' name='planet[name]' autofocus>
  <br>
  Image:
  <input type='text' name='planet[image]'>
  <br>
  Orbit:
  <input type='text' name='planet[orbit]'>
  <br>
  Mass:
  <input type='text' name='planet[mass]'>
  <br>
  Diameter:
  <input type='text' name='planet[diameter]'>
  <br>
  Moons:
  <input type='text' name='planet[moons]'>
  <br>
  <button>Insert Planet</button>
</form>
