<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
     <ul id="navbuttons" class="button-group">
       <li><%= link_to('Home', root_path, :class => 'button tiny') %></li>
       <li id='login'><%= login_helper %></li>
      </ul>
    </div>
    <h2 class='subheader'>E-Commerce</h2>
  </div>
</div>
