- if @auth.present?
  .row
    .large-12.columns
      = form_tag '/channel', :remote => true do
        = text_field_tag 'channel', nil, :autofocus => true
        = submit_tag 'Add Channel', :class => 'button tiny radius'
  .row
    .large-12.columns
      = link_to('Refresh List', '/refresh', :remote => true, :class => 'button tiny radius success')
