- if @auth.nil?
  .row
    .large-12.columns
      = form_tag '/login', :remote => true do
        = text_field_tag 'username', nil, :autofocus => true
        = submit_tag 'Login', :class => 'button tiny radius'
