<ol>
  <% @users.each do |user| %>
    <li>
      <ul>
        <form method='post' action='/users/sendtxt'>
          <li><%= user.name %></li>
          <input type='hidden' name='first' value='<%= user.name %>'>
          <li><input type='text' name='body'></li>
          <li><button>Send Text</button></li>
        </form>
      </ul>
    </li>
  <% end %>
</ol>
