#album{:'data-album-id' => params[:id]}

.row
  .large-2.columns
    = link_to('New Photo', new_photo_path(:album_id => params[:id]), :remote => true, :class => 'button tiny radius')
  .large-2.columns
    #slider
  .large-8.columns

#form
#photos
  = render :partial => 'photos/photos'
