body
{
  background-color: #252525;
  color: #cccccc;
}

.image
{
  width: 250px;
  height: 250px;
  float: left;
  border: 1px solid black;
  background-size: cover;
  border-radius: 10px;
  margin: 5px;
}
