.selected_cell
{
  background-color: red;
}

.message
{
  font-family: "Lucida Console", Monaco, monospace;
}

.square
{
}

.current_player
{
  background-color: purple;
  color: white;
}

.self_player
{
  background-color: green;
  color: white;
}
