%table
  %tr
    - @game.users.map(&:username).sort.each do |user|
      -if @game.current_player == user
        %td.current_player= user
      -elsif @auth.username == user
        %td.self_player= user
      - else
        %td= user
