<footer class="row">
  <div class="twelve columns">
    <hr />
    <div class="row">
      <div class="six columns">
        <p>&copy; 2013 Chyld Medford Global Industries.</p>
      </div>
      <div class="six columns">
        <ul class="link-list right">
          <li><a href="http://twitter.com/chyldmedford">Twitter</a></li>
          <li><a href="http://generalassemb.ly">General Assembly</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
